name: Rebuild
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]
jobs:
  build-frontend:
    strategy:
      matrix:
        node: [20, 22, 24]
        os: [ubuntu-latest]
    name: Rebuild frontend with nodejs ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - name: Install Angular cli
        run: npm i -g @angular/cli
      - name: Rebuild frontend
        run: bash rebuild.sh frontend
  build-backend:
    strategy:
      matrix:
        node: [20, 22, 24]
        os: [ubuntu-latest]
    name: Rebuild backend with nodejs ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
      - name: Rebuild backend
        run: bash rebuild.sh backend
